body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 150px;
    height: 200px;
    border-radius: 11.7em;
    border: 2.7px solid lightgrey;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: black;
    color: #ff8478;
    border-top: 6px solid lightgrey;
    border-bottom: 6px solid lightgrey;
    border-radius: 15px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.card:hover{
    bacbackground: lightgrey;
}
.card.clicked{
    background: grey;
}
.card.clicked:hover{
    background: gainsboro;
}
.border-blue {
    border: 1px dotted blue;
}
a{
    color: #ff8478;
    bacbackground: lightgrey;
    padding: 0.7 em;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

